html,body{
  margin: 0;
  padding: 0;
}
.Navbar__Link:hover{
  transform: scale(1.1);
}   
.Navbar__Link-toggle{
  margin-right: 100px;
}
.Navbar__Link {
  margin-top: 15px;
  margin-right: 41px;
  cursor: pointer;
}
.booknow{
   width: 111px;
   height: 40px; 
   background-color: #29626D;
   border-radius: 20px;
   color: #FFFFFF;
  white-space: nowrap;
  border: 1px solid #FFFFFF80;
  margin-top: 6px;
  margin-right: 28px;
}
.booknow:hover,.Login:hover,.Helper:hover,.one-img:hover, .two-img:hover, .three-img:hover, .four-img:hover, .five-img:hover,.bedroom:hover,.bathroom:hover,.kichan:hover{
  background-color: transparent;
box-shadow: 0px 0px 7px black;
opacity: 0.9;
transition: 0.5s;
transform: scale(1.1);
border: none;
}
.bedroom:hover,.bathroom:hover,.kichan:hover{
  border-radius: 10px;
}
.one-img:hover,.two-img:hover, .three-img:hover, .four-img:hover, .five-img:hover{
  transform: rotate(360deg);
  transition: 4s;
}
.Login{
  width: 83px;
  height: 40px;
      font-size: 16px;
      font-family: 'Roboto';
      color: #FFFFFF;
      /* padding: 9px 22px 12px 22px; */
      background: #29626D 0% 0% no-repeat padding-box;
      border: 1px solid #FFFFFF80;
      border-radius: 20px;
      opacity: 1;
      margin-top: 6px;
      margin-right: 10px;
      
  }
  .Helper{
  width: 161px;
  height: 40px;
  font-size: 16px;
  /* font-family: Roboto-Regular; */
  color: #FFFFFF;
  /* padding: 9px 18px 12px 21px; */
  white-space: nowrap;
  background: #29626D 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF80;
  border-radius: 20px;
  opacity: 1;
  margin-top: 6px; 
   margin-right: 10px;
  
  }
.Navbar__Link:hover {
  color: #c5c5c5;
}
.vrline{
  align-items: center;
  display: flex;
  margin-top: 7px;
  justify-content: center;
  width: 62px;
  height: 37px;
    margin-right: 18px;
border-right: 2px solid #fff;
border-left: 2px solid #fff;
}
.user{
  margin-right: 14px;
  margin-top: 7px;
}
.Navbar__Link-brand{
  margin: 6px 0px 2px 15px;
}
.btn-secondary {
  color: #fff;
  background-color: transparent;
  border: none;
}
.dropdown-menu.show {
  background-color: rgb(90, 98, 104);
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: rgb(74, 79, 83);}
.btn {
  padding: 0}

.btn-secondary:hover {
  color: black;
  background-color: #5a6268;
  border-color: #545b62;
}
.Navbar {
    background-color: rgb(90, 98, 104);
    display: flex;
    padding: 1px;
height: 64px;
    font-family: sans-serif;
    color: white;
  }
  

  
  .Navbar__Items {
    display: flex;
  }
  
  .Navbar__Items--right {
    margin-left:auto;
  }
  
  .Navbar__Link-toggle {
    display: none;
  }
  a{
    text-decoration: none !important;
    color: #fff;
  }
  a:hover{
    color:#fff;
  }
  .icon-notification,.dropdown-res{
    display: none;
  }
  @media only screen and (max-width: 768px) {
      .booknow,.Login,.Helper{
          background-color: transparent;
          border: none;
      }
      .Navbar__Link:hover{
      color: white;
      }
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
      
  .Navbar__Items,.vrline {
      display:none;
    }
      
  .Navbar__Items--right {
      margin-left:0;
    }
      
    .Navbar__ToggleShow {
      display: flex;
      justify-content: center;
      background-color: rgb(90, 98, 104);
      z-index: 1;
      align-items: center;
      height: fit-content;
    }
    .Navbar__Link{
      margin-bottom: 10px;
    }
      
  .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
            cursor: pointer;
     } 
  }
  body{
    font-family: 'Roboto';
  }