
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
   font-family: 'Roboto';
}
.clean-img{
    background-image: url('../images/group-18_11.png');
    background-size: 100%;
    height: 370px;
    background-repeat: no-repeat;margin-top: 64px;
}
.prices{
    margin: 31px auto 51px auto;
    width: 41%;
    height: 423px;
}
.name{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
   font-weight: 500;
    font-size: 36px;
    color: #4F4F4F;
    }
    .line1{
        /* margin: 21px 9px 54px 92px; */
        margin-top: 12px;
        margin-right: 9px;
            width: 62px;
            height: 1px;
            background-color: #ccc;
        
    }
    .line2{
    width:62px ;
    height: 1px;
    margin-top: 12px;
    margin-left: 9px;
    /* margin: 21px 196px 54px 9px; */
    background-color: #CCCCCC;
    }
    
    .star-img{
            width: 24px;
            height: 25px;
            /* margin: ; */
          
    }
    .price-head{
        width: 553px;
        height: 59px;
        background-color: #1D7A8C;
       text-align: center;
       vertical-align: middle;
       line-height: 59px;
        font-size: 28px;
        color: #FFFFFF;
        margin-bottom: 18px;
        font-weight: 700;
    }
    .money{
        display: flex;
        margin: 18px auto 38px auto;
        color: #646464;
        width: fit-content;
    }
    .price-points{
        display: flex;
        margin-top: 27px;
        margin-left: auto;
        color: #646464;
        font-weight: 400;
        font-size: 16px;
        margin-right: auto;
        width: fit-content;
    }
    .service{
        width: 81%;
        height: 325px;
        margin: 51px auto 56px;
        border-top: 1px  solid #DCDCDC 
    }
    .service-name{
        margin: 41px auto 9px auto;
        width: fit-content;
 font-weight: 500;
 white-space: nowrap;
        font-size: 36px;
        color: #4F4F4F;
    }
    .price-menu{
        margin-top: 39px;
        display: flex;
        justify-content: space-between;
        /* grid-template-columns: ; */
        margin-left: 83px;
        margin-right: 83px;
        width: auto;
    }
   
    .one, .two, .three, .four, .five{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .one-img, .two-img, .three-img, .four-img, .five-img{
        border: 1px solid #B0C9CE;
        border-radius: 50%;
        width: 108px;
        height: 108px;
    }
    .one-img>img{
        margin:  30px 35px 30px 36px;;
    }
    .two-img>img{
        margin: 24px 40px 28px 40px;
    }
    .three-img>img{
        margin: 38px 28px;
    }
    .four-img>img{
        margin: 31px 34px
    }
    .five-img>img{
        margin: 30px
    }
    .menu-name{
        font-size: 16px;
   
        margin-top: 14px;
        color: #646464;
        text-align: center;
    }
    .menu-time{
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top: 5px;
        color: #1D7A8C;
    }
    .include{
        margin-top: 56px;
        /* width: 1560px; */
        width: 100%;
        height: fit-content;
        background-color: #F6F6F6;
        border-top: solid #f6f6f6;
        border-bottom: solid #f6f6f6;
    }
    .include-name{
        margin: 73px auto 9px auto;
        width: fit-content;
      font-weight: 500;
        font-size: 36px;
        color: #4F4F4F;
    }
    .include-container{
        display: flex;
        flex-direction: row;
        margin-bottom: 81px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .star-line{
        display: flex; width: fit-content;
    }
    .star-service,.star-helper,.star-price,.star-include{
        margin-left: auto;
margin-right: auto;
    }
    .bedroom{
        width: 360px;
        height: fit-content;
        margin-top: 42px;
        /* margin-left: 209px; */
    }
    .bathroom{
        width: 360px;
        height: fit-content;
        margin-top: 42px;
        margin-left: 30px;
    }
    .kichan{
        width: 360px;
        height: fit-content;
        margin-top: 42px;
        margin-left: 30px;
    }
    .clean-head{
        font-weight: 700;
        font-size: 20px;
        color: #4F4F4F;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 10px;
    }
    .point{
        margin: 19px 9px 14px 0;
      font-weight: 400;
        color: #4F4F4F;
        font-size: 16px;
    }
    .points{
        display: flex;
        margin-left: 10px;
    }
    .why-helper{
        margin: 71px auto 52px auto;
        width: 77.4%;
        /* height: 367px; */
    }
    .why-helper-name{
font-weight: 500;
        font-size: 36px;
        white-space:nowrap;
        color: #4F4F4F;
        margin: 0px auto 9px auto;
        width: fit-content;
    }
    .point-1{
        margin: 40px 22px 7px 0;
        width: 337px
    }
    .point-2{
        margin: 7px 22px 0px 0;
        width: 337px;
    }
    .point-3{
        margin: 40px 63px 14px 25px;
        width: 285px;
    }
    .point-4{
        margin: 0px 0 9px 25px;
        width: 275px;
    }
    .point-1>div, .point-2>div{
        color: #646464;
      font-weight: 700;
        font-weight: bold;
        font-size: 20px;
        text-align: right;

    }
    .point-3>div ,.point-4>div{
        color: #646464;
        font-weight: 700;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
    .point-1>p, .point-2>p {
        color: #646464;
        font-weight: 400;
        font-size: 14px;
        text-align: right;
    margin-left: 51px;
    margin-top: 10px;
    width: 285px;
    height: 84px;
    }
    .point-3>p ,.point-4>p{
        color: #646464;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    margin-top: 10px;
    width: 275px;
    height: 84px;
    }
    @media only screen and (max-width: 900px){
        .price-menu{
            margin-left: auto;
margin-right: auto;
width: fit-content;
flex-direction: column;
        }.service{
            height: fit-content;
        }.include-container{
            flex-direction: column;  
        }
        .bathroom,.kichan{
            margin-left: 0;
        }
        .why_helper-body{
            flex-direction: column;
margin-left: auto;
margin-right: auto;
width: fit-content;
        }
    }


    