
html,body{
    /* width: 100%; */
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: #4F4F4F;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #1FB6FF;
}
a:hover{
    color: #005d8b !important;
}
.left-image{
    background-image: url('images/blog-left-bg.png');
    height: 1196px;
    background-repeat: no-repeat;
    width: 188px;
    margin-left: 0;

}
.right-image{
    background-image: url('images/blog-right-bg.png');
    height: 1196px;
    width: 214px;
    background-repeat: no-repeat;
    margin-right: -41px;
    /* justify-content: end;   */
}
.scrolling-active {
    background-color: rgba(0, 0, 0, .2);
    }
.body{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content{
    margin:68px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    align-items: center;
}
.name{
    /* margin: 31px 618px 9px 518px; */
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #4F4F4F;
    font-family: 500;
    white-space: nowrap;
    align-items: center;
}
.register{ 
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal; 
    text-align: left;
    margin-top: 52px;
    color: #4f4f4f;
}
.down-arrow{
    margin: 44px auto 34px auto;
    width: fit-content;
    cursor: pointer;
}
.basic-info{
    font-size: 18px;
    width: 330px;
    margin-bottom: 48px;
    margin-right: 158px;
    font-weight: 400;
}
.first-content{
    margin-top: 73px;
    display: flex;
    margin-bottom: 20px;
}
.second-content{
    display: flex;
    margin-bottom: 20px;
}
.second-content-image>img{
    margin-right: 126px;
}
.form{
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: none;
    gap: 0; */
}
.form>input{width: 359px;
    height: 46px;
margin: 7px 35px 8px 35px;
padding-left: 15px;
border: 1px solid #C8C8C8;
font-size: 16px;
font-weight: 400;}
.form>p{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 19px 144px 9px 134px;
    white-space: nowrap;
}
.register-form>input{
    font-size: 16px;
    color: #4F4F4F;
    margin-left: 37px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* transform : scale(10); */
}
.register-form>label{
    margin-left: 7px;
}
.recaptcha{
    margin-left: 7%;
}

.sbmtbtn{
    margin-left: auto;
    margin-right: auto;
  
    
    max-width: 166px;
}
.submitbutton{
  
    height:46px;
    font-weight: bold;
    font-size: 16px;
    color:#FFFFFF;
    background-color: #1D7A8C;
    border-radius: 23px;

}
.btn{
    font-size: 16px;
    font-weight: 700;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #2cafc9;
}
@media(max-device-width : 800px){
    .first-content,.second-content,.grid-container{
        flex-direction: column;
    align-items: center;}
    .content-info{
            order: 2;
    }
    .basic-info,.register,.second-content-image>img{
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .grid-container{
        margin-top: 10px;
    }
    .grid-item{
        padding: 2px;
    }
    .section-5 {
        height: 308px;}
}
