.navbar {
    max-width: 1560px;
   height: 64px;
   background: #525252 0% 0% no-repeat padding-box;
}

.navbar-nav {
  position: absolute;
   right: 15px;
   font-family: Roboto-Regular;
}

a {
    color:white !important;
}

a:hover {
    color:white !important;
}

.nav-item {
 color:white !important;
}

.navbar .navbar-brand .logo {
   max-height: 54px;
   max-width: 73px;
   position: absolute;
   left: 15px;
   top: 6px;
}

i{
   font-size: 30px;
   width: 30px;
}

.booknow {
   width: 111px;
   height: 40px;
   background: #29626D;
   border: 1px solid #FFFFFF80;
   border-radius: 20px;
   display: inline-flex;
   justify-content: center;
   margin-right: 10px;
}

.book-now {
   color:white !important;
   font-size: 17px;
   max-height: 20px;
   text-align: center;
   letter-spacing: 0px;
   color: #FFFFFF;

}

.ps {
   color:white !important;
   width: 161px;
   height: 40px;
   background: #00607200;
   border: 1px solid #FFFFFF80;
   border-radius: 20px;
   display: inline-flex;
   justify-content: center;
   margin-right: 27px;

}

.ps1 {
   font-size: 17px;
   max-height: 20px;
   letter-spacing: 0px;
   color: #FFFFFF;
}

.wbg {
   color:white !important;
   max-width: 258px;
   max-height: 20px;
   color: #FFFFFF;
   display: flex;
   justify-content: space-around;
   margin-right: 35px;
}

.login {
   color:white !important;
   width: 83px;
   height: 40px;
   background: #29626D;
   border: 1px solid #FFFFFF80;
   border-radius: 20px;
   display: inline-flex;
   justify-content: center;
   margin-right: 10px;
}

.log-in {
   font-size: 16px;

}

.helper {
   color:white !important;
   display: inline-flex;
   justify-content: center;
   width: 161px;
   height: 40px;
   background: #29626D;
   border: 1px solid #FFFFFF80;
   border-radius: 20px;
}

.helper1 {
   font-size: 16px;
}